@import "../lib/bootstrap/3.0.2/css/bootstrap.css";

html {
  height: 100%;
}

/**
 * Generic System Defaults
 */

body {
  font-family: 'Open Sans', sans-serif;  
  background-color: rgb(242,242,242);
  min-height: 100%;
  height: auto !important;
  height: 100%; /** NEED FOR IE **/
  margin: 0;
  padding: 0;
}

h2.project-titles {
  color: #737272;
  font-weight: 200;
  font-size: 21px;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 48px;
  letter-spacing: .05em;
}

p {
  margin: 0px;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.site-header {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgb(64,64,64);
  left: 0;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.intro-content {
  background-color: #D75A5A;
  max-width: 100%;
}

.intro-content p {
  color: white;
  font-weight: 200;
  font-size: 24px;
  margin: 90px 25px;
  padding: 30px 16px 0px;
  text-align: left;
}

.navigation li {
  list-style-type: none;
}

.brand-container {
  float: left;
  margin: 0px 54px 0px;
  padding: 0;
}

.brand {
  display: block;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .07em;
  margin: 24px 35px;
  text-transform: uppercase;
  z-index: 5;
}

nav {
  float: right;
  padding: 16px 30px;
  margin: 0px 15px 0px;
  width: 25%;
}

.nav a {
  color: rgb(67, 67, 67);
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .07em;
  text-decoration: none;
}



.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active a,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: 0;
  box-shadow: 0 0 0;
}

a {
  color: rgb(67, 67, 67);
  text-decoration: none;
}

a:hover {
  color: #B3B3B3;
  text-decoration: none;
}
/* nav */


.design-content {
  margin-top: 90px;
}

.caption {
  text-align: center;
  font-size: 14px;
  letter-spacing: .25px;
  padding: 18px 0px;
  margin: 2px 20px 0px 0px;
  color: rgb(74, 73, 73);
}

.description {
  color: #737272;
  font-size: 14px;
  line-height: 1;
  margin: 0px;
}

.project {
  margin-top: 48px;
}

.ind-slide {
  margin-top: 62px;
}

.site-footer {
  background-color: #FFFFFF;
  color: rgb(213, 212, 212);
  padding: 32px 40px;
  margin: 36px 0px;
}


@media (max-width: 768px){ 
  .project img {
    width: 100%;
  }
  
  img.ind-slide  {
    width: 100%;
    margin-top: 32px;
  }
}




