@import url(../lib/bootstrap/3.0.2/css/bootstrap.css);
html {
  height: 100%; }

/**
 * Generic System Defaults
 */
body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  background-color: #f2f2f2;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /** NEED FOR IE **/
  margin: 0;
  padding: 0; }

body.homeowners-guide {
  background-color: #DEDCDC; }

h2.project-titles {
  color: #434343;
  font-weight: 200;
  font-size: 21px;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 48px;
  letter-spacing: .05em; }

p {
  margin: 0px; }

img {
  max-width: 100%; }

.img-responsive {
  width: 100%; }

.container {
  width: 100%;
  padding: 0px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.site-header {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #404040;
  left: 0;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.intro-content {
  background-color: #D75A5A;
  max-width: 100%; }

.intro-content p {
  color: white;
  font-weight: 200;
  font-size: 24px;
  margin: 90px 25px;
  padding: 30px 16px 0px;
  text-align: left; }

.navigation li {
  list-style-type: none; }

.brand-container {
  float: left;
  margin: 0px 54px 0px;
  padding: 0; }

.brand {
  display: block;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: .05em;
  margin: 28px 26px;
  text-transform: uppercase;
  z-index: 5; }

.brand-container a {
  color: #2cbec1; }

nav {
  float: right;
  padding: 16px 0px;
  margin: 6px 70px 0px;
  width: 25%; }

.nav a {
  color: #434343;
  font-weight: 403;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .07em;
  text-decoration: none; }

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active a,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: 0;
  box-shadow: 0 0 0; }

a {
  color: #434343;
  text-decoration: none; }

a:hover {
  color: #B3B3B3;
  text-decoration: none; }

/* nav */
.design-content {
  margin-top: 115px;
  margin-bottom: 30px; }

.caption {
  vertical-align: middle;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .05em;
  color: #4a4949; }

.description {
  color: #434343;
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 34px;
  letter-spacing: .07em; }

a.site-caption {
  color: #2cbec1; }

.ind-slide {
  margin-top: 62px; }

.project-navigation {
  background-color: black;
  min-height: 72px;
  text-align: center; }

.project-navigation a {
  text-align: center; }

.project_button_next .glyphicon {
  font-weight: normal;
  font-size: 34px;
  color: #FFFFFF;
  margin: 16px 62px; }

.project_button_previous .glyphicon {
  font-weight: normal;
  font-size: 34px;
  color: #FFFFFF;
  margin: 16px 62px; }

.site-footer {
  background-color: #FFFFFF;
  padding: 24px 0px;
  border-top: 7px solid #2cbec1; }

.site-footer .container {
  padding: 12px 26px 30px; }

.site-footer p {
  font-size: 16px; }

.site-footer a {
  font-size: 16px; }

.profile {
  margin-bottom: 60px; }

.profile p {
  font-size: 18px;
  margin: 25px 0px 25px; }

.contact-info a {
  font-size: 24px; }

ul.xprojects_all {
  list-style: none;
  margin: 0em;
  padding: 0em; }

ul.xprojects_all a {
  color: #fff; }

ul.xprojects_all li {
  background: #000;
  position: relative;
  margin: 0 1.75% 2.5% 1.75%;
  padding: 0em;
  width: 45.5%; }

ul.xprojects_all li img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: 1s linear all;
  transition: 1s linear all; }

ul.xprojects_all li:hover img {
  opacity: 0.2;
  -webkit-transition: 1s linear all;
  transition: 1s linear all; }

ul.xprojects_all ul {
  display: none;
  list-style: none; }

ul.xprojects_all li:hover ul {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

ul.xprojects_all li:hover ul li {
  display: inline-block;
  position: relative;
  padding: 0em;
  background: none; }

ul.project {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 0em; }

li.xproject .infoblock h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  padding: 1em;
  margin: 0em; }

li.xproject .infoblock p {
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  padding: 1em;
  margin: 0em; }

@media (max-width: 768px) {
  .navbar-toggle {
    margin-top: 24px;
    position: relative;
    top: 0px;
    right: 12px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px; }

  .navbar-collapse {
    clear: both; }

  .site-header nav {
    width: 100%; }

  img.ind-slide {
    width: 100%;
    margin-top: 32px; }

  nav {
    float: none;
    padding: 0px;
    margin: 0px;
    width: 100%; }

  nav li {
    border-bottom: 1px dotted #BFBFBF; }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: black; }

  .site-footer .container {
    padding: 0px 12px;
    margin: 6px 0px 0px; }

  ul.xprojects_all li {
    margin: 0 1.75% 2.5% 1.75%;
    width: auto;
    max-width: 100%; } }
@media (max-width: 480px) {
  .brand {
    margin: 24px 0px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    z-index: 5; } }
